{% extends "base.html" %}
{%block content %}
    <main>
      <div class="container-fluid my-5 text-center">
          <h1 class="display-2 mb-3">Estação Meteorológica</h1>
          <h4 class="fw-lighter ">Grupo de Pesquisa em ensino de ciências (PEmCie) - UNICAMP</h4>
            <div class="row justify-content-md-center ">
            
            <div class="col-12 col-md-4 mt-5">
                <p class="border border-warning p-3 rounded-3">
                    
                    O protótipo consiste em coletar dados de temperatura, umidade relativa do ar e qualidade do ar em duas localidades diferentes, uma das plataformas está localizada no Brasil,
                    na Universidade de Campinas e outra na cidade de Münster, na Alemanha. Os dados são atualizados em tempo real e são coletados constantemente. A proposta é que você utilize estes dados
                    para analisar e comparar as possíveis diferenças nos dados entre estas duas localidades.</p>
            </div>
           </div>
           
      </div>


    </main>
{% endblock %}


